/* You can add global styles to this file, and also import other style files */
@import "semantic-ui-css/semantic.css";

body, h1, h2 {
  background-color: lightskyblue;
  color: slateblue;
  padding: 2rem;
}

h1, h2 {
    border-radius: 10px;
    color: white;
}


